/* Colorset:
screen #c5c1c0
steel #0a1612 rgb: 10,22,18
denim #1a2930
marigold #f7ce3e

/* Global */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  font-family: 'Ubuntu', arial, helvetica, sans-serif;
  font-color: #c5c1c0;
  background: linear-gradient(
      rgba(10, 22, 18, 0.4),
      rgba(10, 22, 18, 0.4)
    ),url("../img/showcase_final.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.stay {
  position: fixed;
  margin: 25% auto;
  text-align: center;
  display: block;
  color: white;
  left: 0;
  right: 0;
}

.blank {
  display: block;
  margin: 20% 0 0 0;
}

.block {
  display: block;
  text-align: center;
  color: #ffffff;
  margin-bottom: 35%;
}

h1 {
  font-size: 55px;
  margin-bottom: 10px;
}

p {
  font-size: 32px;
}

nav {
  padding: 300px 0 30px 0;
  text-align: center;
  color: white;
}

nav h3 {
  position: relative;
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
}

nav li{
  display: inline-block;
}

nav li a {
  border: solid white 1px;
  padding: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  bottom: 30px;
}

nav .current a {
  border: solid white 1.5px;
  font-weight: bold;
}

nav li a:hover {
  border: solid white 3px;
  font-weight: bold;
}

footer p, footer p a {
  text-align: center;
  font-size: 12px;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}
footer p a:hover{
  text-decoration: underline;
}

/* mobile and tablet conversions */

/* something to change footer to bottom of page*/
/* something to fix menu */
