/* Colorset:
screen #c5c1c0
steel #0a1612 rgb: 10,22,18
denim #1a2930
marigold #f7ce3e

/* Global */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #c5c1c0;
  height: 100%;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  
  opacity: 1;
}

header {
  background: #0a1612;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #f7ce3e 3px solid;
}

ul {
  margin: 0;
  padding: 0;
}

.dark {
  padding: 15px;
  background: #0a1612;
  color: #c5c1c0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button_generic {
  height: 38px;
  background: #f7ce3e;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px 0 20px;
  color: #0a1612;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

/* Header */
.main_header {
  background: none;

}

header li a, .contact_bar button {
  color: #c5c1c0;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.contact_bar a {
  text-decoration: none;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 a {
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 48px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .current a {
  color: #f7ce3e;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

header .current a:hover {
  color: #f7ce3e;
  text-decoration: underline;
}

header .highlight {
  font-weight: bold;
}

header .highlight:hover {
  text-shadow: 0px 0px 7px #ffffff;
}

/* Showcase */
#showcase {
  display: block;
  min-height: 700px;
  width: 100%;
  background: linear-gradient(
      rgba(10, 22, 18, 0.25),
      rgba(10, 22, 18, 0.25)
    ),url("../img/showcase_final.jpg");
  background-size: cover;
  text-align: center;
  color: #ffffff;
  opacity: 1;
}

.no-opacity {
  opacity: 1;
}

#showcase h1 {
  display: relative;
  margin-top: 250px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

.shade {
  background-color: #1a2930;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 665px;
  opacity: .3;
}

/* Contact Bar */
.contact_bar {
  padding: 15px;
  color: #ffffff;
  background: #1a2930;
}

.contact_bar button {
  color: #000000;
  font-weight: bold;
  text-transform: none;
  position: relative;
  margin: 0 auto;
  display: block;
}

.contact_bar button:hover {
  border: 2px solid #ffffff;
}

/* Services page */
aside#services_sidebar {
  float: right;
  width: 30%;
  margin-top: 20px;
}

article#services_main_col {
  margin-top: 20px;
  float: left;
  width: 65%;
  margin-bottom: 10px;
}

.services_main {
  padding: 10px;
  height: 300px;
  padding-bottom: 170px;
}

.services_main li p {
  padding: 5px 0 5px 0;
  text-align: justify;
}

.services_main h4 {
  padding: 20px 0 0px 0;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.services_main a {
  text-decoration: none;
}

#services_sidebar h4 {
    padding: 5px 0 5px 0;
}

.page_title {
  font-family: 'Ubuntu', arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
}

ul #services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #c5c1c0;
}

/* Contacts form */
form {
  margin: 5px 0 20px 0;
  height: 500px;
}

/* Footer */
footer {
  background-color: #f7ce3e;
  padding: 20px;
  text-align: center;
}

footer p {
  padding: 20px;
}

footer a {
  color: #000000;
  text-decoration: none;
}



.send_to_bottom {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 170px;
}

.contact_footer {
  margin-top: 70px;
}


/* mobile and tablet conversions */

/* something to change footer to bottom of page*/
/* something to fix menu */
